# ==========================================
# 🌐 CONFIGURACIÓN AWS Y ATHENA
# ==========================================

# 🔑 Credenciales de AWS (NUNCA subas las reales)
AWS_ACCESS_KEY_ID=TU_ACCESS_KEY_AQUI
AWS_SECRET_ACCESS_KEY=TU_SECRET_KEY_AQUI
AWS_SESSION_TOKEN=TU_SESSION_TOKEN_AQUI   # (solo si usas sesión temporal, puedes dejar vacío)

# 📍 Región de AWS
AWS_REGION=us-east-1

# 💾 Base de datos de Athena (Catálogo de Glue)
ATHENA_DATABASE=farmacia_ds

# 📂 Ubicación en S3 donde Athena guardará resultados
ATHENA_OUTPUT_LOCATION=s3://pharmavida-athena-results/

